@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>La Mia Pizzeria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/UtenteIndexStyle.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand h-100">
            <div class="container-fluid h-100">
                <img class="h-100 px-3" src="~/img/logo.png" alt="Logo Pizzeria">
                <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/UtenteIndex">PIZZE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Privacy">NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Privacy">CONTATTI</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <h1 class="text-center py-3"> Le Nostre Pizze </h1>
            <div class="row text-center">
                <div class="col-4 mb-4">
                    <div class="card text-bg-dark border-white">
                        <img class="card-img-top" src="~/img/margherita.jpg" alt="Pizza Margherita">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Pizza Margherita</h5>
                                <small class="text-success fw-bold"> € 8,00 </small>
                            </div>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo ante id augue venenatis, vitae congue est scelerisque. Sed efficitur sem quam, id eleifend libero suscipit sed. Donec ut arcu dictum, gravida nulla non, pulvinar ante. Donec nunc ex, ultricies et vulputate at, commodo a tortor. Vivamus et nisi et nulla convallis ultricies. Duis eget sem interdum, convallis velit in, semper libero. Pellentesque eget fermentum nisi. Donec et turpis metus. Nulla at bibendum est, vel imperdiet quam. Morbi cursus diam eget leo varius auctor. Fusce at congue nisl. Aliquam varius tellus vel lectus commodo tempus. Phasellus tincidunt arcu elit, mollis mollis massa egestas ut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card text-bg-dark border-white">
                        <img class="card-img-top" src="~/img/marinara.jpg" alt="Pizza Marinara">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Pizza Marinara</h5>
                                <small class="text-success fw-bold"> € 9,00 </small>
                            </div>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo ante id augue venenatis, vitae congue est scelerisque. Sed efficitur sem quam, id eleifend libero suscipit sed. Donec ut arcu dictum, gravida nulla non, pulvinar ante. Donec nunc ex, ultricies et vulputate at, commodo a tortor. Vivamus et nisi et nulla convallis ultricies. Duis eget sem interdum, convallis velit in, semper libero. Pellentesque eget fermentum nisi. Donec et turpis metus. Nulla at bibendum est, vel imperdiet quam. Morbi cursus diam eget leo varius auctor. Fusce at congue nisl. Aliquam varius tellus vel lectus commodo tempus. Phasellus tincidunt arcu elit, mollis mollis massa egestas ut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card text-bg-dark border-white">
                        <img class="card-img-top" src="~/img/formaggi.jpg" alt="Pizza Quattro Formaggi">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Pizza Quattro Formaggi</h5>
                                <small class="text-success fw-bold"> € 9,00 </small>
                            </div>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo ante id augue venenatis, vitae congue est scelerisque. Sed efficitur sem quam, id eleifend libero suscipit sed. Donec ut arcu dictum, gravida nulla non, pulvinar ante. Donec nunc ex, ultricies et vulputate at, commodo a tortor. Vivamus et nisi et nulla convallis ultricies. Duis eget sem interdum, convallis velit in, semper libero. Pellentesque eget fermentum nisi. Donec et turpis metus. Nulla at bibendum est, vel imperdiet quam. Morbi cursus diam eget leo varius auctor. Fusce at congue nisl. Aliquam varius tellus vel lectus commodo tempus. Phasellus tincidunt arcu elit, mollis mollis massa egestas ut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card text-bg-dark border-white">
                        <img class="card-img-top" src="~/img/diavola.jpg" alt="Pizza Diavola">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Pizza Diavola</h5>
                                <small class="text-success fw-bold"> € 8,00 </small>
                            </div>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo ante id augue venenatis, vitae congue est scelerisque. Sed efficitur sem quam, id eleifend libero suscipit sed. Donec ut arcu dictum, gravida nulla non, pulvinar ante. Donec nunc ex, ultricies et vulputate at, commodo a tortor. Vivamus et nisi et nulla convallis ultricies. Duis eget sem interdum, convallis velit in, semper libero. Pellentesque eget fermentum nisi. Donec et turpis metus. Nulla at bibendum est, vel imperdiet quam. Morbi cursus diam eget leo varius auctor. Fusce at congue nisl. Aliquam varius tellus vel lectus commodo tempus. Phasellus tincidunt arcu elit, mollis mollis massa egestas ut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card text-bg-dark border-white">
                        <img class="card-img-top" src="~/img/capricciosa.jpg" alt="Pizza Capricciosa">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Pizza Capricciosa</h5>
                                <small class="text-success fw-bold"> € 10,00 </small>
                            </div>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo ante id augue venenatis, vitae congue est scelerisque. Sed efficitur sem quam, id eleifend libero suscipit sed. Donec ut arcu dictum, gravida nulla non, pulvinar ante. Donec nunc ex, ultricies et vulputate at, commodo a tortor. Vivamus et nisi et nulla convallis ultricies. Duis eget sem interdum, convallis velit in, semper libero. Pellentesque eget fermentum nisi. Donec et turpis metus. Nulla at bibendum est, vel imperdiet quam. Morbi cursus diam eget leo varius auctor. Fusce at congue nisl. Aliquam varius tellus vel lectus commodo tempus. Phasellus tincidunt arcu elit, mollis mollis massa egestas ut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card text-bg-dark border-white">
                        <img class="card-img-top" src="~/img/boscaiola.jpg" alt="Pizza Boscaiola">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Pizza Boscaiola</h5>
                                <small class="text-success fw-bold"> € 10,00 </small>
                            </div>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo ante id augue venenatis, vitae congue est scelerisque. Sed efficitur sem quam, id eleifend libero suscipit sed. Donec ut arcu dictum, gravida nulla non, pulvinar ante. Donec nunc ex, ultricies et vulputate at, commodo a tortor. Vivamus et nisi et nulla convallis ultricies. Duis eget sem interdum, convallis velit in, semper libero. Pellentesque eget fermentum nisi. Donec et turpis metus. Nulla at bibendum est, vel imperdiet quam. Morbi cursus diam eget leo varius auctor. Fusce at congue nisl. Aliquam varius tellus vel lectus commodo tempus. Phasellus tincidunt arcu elit, mollis mollis massa egestas ut.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 mb-4">
                    <div class="card text-bg-dark border-white">
                        <img class="card-img-top" src="~/img/americana.jpg" alt="Pizza Americana">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Pizza Americana</h5>
                                <small class="text-success fw-bold"> € 12,00 </small>
                            </div>
                            <p class="card-text text-truncate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam commodo ante id augue venenatis, vitae congue est scelerisque. Sed efficitur sem quam, id eleifend libero suscipit sed. Donec ut arcu dictum, gravida nulla non, pulvinar ante. Donec nunc ex, ultricies et vulputate at, commodo a tortor. Vivamus et nisi et nulla convallis ultricies. Duis eget sem interdum, convallis velit in, semper libero. Pellentesque eget fermentum nisi. Donec et turpis metus. Nulla at bibendum est, vel imperdiet quam. Morbi cursus diam eget leo varius auctor. Fusce at congue nisl. Aliquam varius tellus vel lectus commodo tempus. Phasellus tincidunt arcu elit, mollis mollis massa egestas ut.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>

    <footer class="d-flex align-items-center justify-content-center">
        <small class="fst-italic text-secondary"> La Mia Pizzeria © Copyright 2023 </small>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>